.Layout {
  min-height: 100%;
  display: flex;
  background-color: #e6ecf0;
  flex-direction: column;
  align-items: center;
}

.content {
  margin: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  justify-content: space-around;
  box-sizing: border-box;
}

/* flex items */

.content>div {
  padding: 5px;
  box-sizing: border-box;
}

.leftbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.leftbar>div {
  padding-bottom: 10px;
}

.profil {
  width: 300px;
}

.trending {
  width: 300px;
}

.children {
  height: auto;
  min-height: 100%;
  width: 600px;
  box-sizing: border-box;
}

.rightbar {
  display: flex;
  flex-direction: column;
}

.rightbar>div {
  padding-bottom: 10px;
}

.whoToFollow {
  width: 300px;
}

.footer {
  width: 300px;
}

#onLeftbar {
  display: none;
}

@media (max-width: 1251px) {
  #onLeftbar {
    display: block;
  }

  #onRightbar {
    display: none;
  }

  .content {
    width: 920px;
    justify-content: flex-start;
    align-content: flex-start;
  }
}

@media (max-width: 935px) {
  .Layout {
    align-items: flex-start;
  }
}