.container {
    position: static;
    flex : 0 1 auto;
}

.SearchBox {
    background-color: #f5f8fa;
    border : 1px solid #e6ecf0;
    padding : 8px 30px 8px 10px;
    border-radius: 20px;
    border-radius: border-box;
    width: 200px;
}

.SearchBox:focus {
    border: 1px solid #B07957;
    transition: all .2s ease-out;
}


.SearchIcon {
    display: inline-block;
    position: relative;
    left: 242px;
    border: 1px transparent green;
    padding : 6px 7px 6px 7px;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
}

.SearchIcon:hover {
    cursor: pointer;
}

@media (max-width: 936px) {
    .SearchBox {
        width: 100px;
    }
    .SearchIcon {
        left : 142px;
    }
}

@media (max-width: 700px) {
    .SearchBox {
        width: 50px;
    }
    .SearchIcon {
        left : 92px;
    }
}